html {
    height: 100%;
}

body {
    background-image: url('../images/moroccan-flower.png');
    
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 960px;
    margin-bottom: 2%;
}

.row {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    margin-left: 2.7%;
    padding-right: 2.7%;
    width: 95%;
    padding-bottom: 3%;
    border-bottom: 2px solid#cccccc;
    font-size: 30px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.wow {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3%;
    padding-top: 2%;
    margin-top: 1%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid#cccccc;
}

h2 {
    background-color: #4aaaa5;
    padding: 1%;
    font-size: 30px;
    color: white;
}

.nav__links {
    list-style: none;
    font-size: small;
}
.nav__links li {
    display: inline-block;
    padding: 0px 10px;
    color: gray;
    text-decoration: gray;
}

.nav__links li a {
    color: gray;
}

h3 {
    margin-right: 80px;
}
h4 {
    margin-left: 70px;
}

#cycle {
    background-image: url('../images/Cycle.jpg');
    padding-top: 75px;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

#Chem {
    background-image: url('../images/AbstractO.jpg');
    padding-top: 75px;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

#Art {
    background-image: url('../images/AbstractP.jpg');
    padding-top: 75px;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

#Nightlife {
    background-image: url('../images/Nightlife.jpg');
    padding-top: 75px;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

#City {
    background-image: url('../images/City.jpg');
    padding-top: 75px;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

#cyc {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px 0px;
}

#ch {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px 0px;
}

#at {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px 0px;
}

#nl {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px 0px;
}

#ct {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px 0px;
}

#Pro {
    background-image: url('../images/laptop.jpg');
    padding-top: 75px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

#me {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 12px;
    line-height: 2;
    padding: 0;
    margin: 0;
    position: relative;
    top: -0.5em;
}

#hob {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 12px;
    line-height: 2;
    padding: 0;
    margin: 0;
    position: relative;
    top: -0.5em;
}

#Cit {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 12px;
    line-height: 2;
    padding: 0;
    margin: 0;
    position: relative;
    top: -0.5em;
}

footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    text-align: center;
    background-color: gray;
    border-top: 3px solid #4aaaa5;
    margin-top: auto;
    font-size: 8px;
    color: white;
    padding-top: 15px;
    line-height: -10em;
  }

  #Name {
    width: 100%;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 5px 0;
  }

  #Email {
    width: 100%;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 5px 0;
  }
 
  #Msg {
      width: 100%;
      color: #777777;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      padding: 5px 0;
  }

  #mess {
      min-height: 150px;
      color: #cccccc;
  }

  input {
      width: 100%;
  }

  .btn-info {
      border-radius: 0 !important;
      background-color: #4aaaa5;
      border: none;
      margin: 10px 0px;
  }

  @media screen and (max-width: 768px) {

.container {
    width: 100%;
}
  }

  @media screem and (max-width:500px) {
      .container {
          width: 100%;
      }
  }