html, body{
    background-image: url("../images/City.gif");
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Press Start 2P', cursive;

    /*Properties for sticky footer, flexbox for variable height*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    flex: 1;
}

header{
    text-align: center;
    color: whitesmoke;
    background-color: none;
}

img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/*id CSS*/
#hdr{
    background-image: url("../images/8bit.png");
    background-color: black;
    width: 100%;
    padding: 2% 0;
    margin-bottom: 5%;
    border-bottom: 3px solid black;
}

#imgs{
    border: 5px solid black;
    background-color: black;
    padding: 5px;
    min-height: 20px;
}

#left-side{
    border: 5px solid black;
    text-align: center;
}

#right-side{
    background-color: black;
    border: 5px solid black;
}

/*media queries*/
@media only screen and (max-width:667px){
    h3, p{
        font-size: 15px;
    }
    #hdr{
        font-size: 15px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px){
    .mbl{
        display: block;
    }
}
@media only screen and (min-width: 769px){
    .mbl{
        display: none;
    }
}